<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="JsonConnection" connectionString="Uri=http://northwind.servicestack.net/customers.json;
          UserName=user;Password=pwd;
          header:MyAuthHeader1=secretToken1;header:MyAuthHeader2=secretToken2;
          query:id=123456;query:name=MyName"
        providerName="JsonSourceProvider" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>